@import url(/fonts/static/OpenSans-Bold.ttf);
@import url(/fonts/static/OpenSans-ExtraBold.ttf);
@import url(/fonts/static/OpenSans-Italic.ttf);
@import url(/fonts/static/OpenSans-Light.ttf);
@import url(/fonts/static/OpenSans-Medium.ttf);
@import url(/fonts/static/OpenSans-Regular.ttf);
@import url(/fonts/static/OpenSans-SemiBold.ttf);
* {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.navbar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 26px 0px;
  background-color: #BB2339 !important;
  width: 100%;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar-nav a {
  color: #FFF;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.navbar-nav a:hover {
  color: #c4c4c4;
  text-decoration-line: underline;
}

.nav__btn {
  background-color: transparent;
  padding: 10px 40px;
  border-radius: 100px;
  border: 1px solid #FFF;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.nav__btn:hover {
  background-color: #fff;
}
.nav__btn:hover a {
  color: #BB2339;
}
.nav__btn a {
  font-size: 16px;
  font-weight: 600;
  line-height: 175%;
  letter-spacing: 0.8px;
}

header {
  background-color: #BB2339;
}

#home {
  padding: 110px 0 54px 0;
  color: #fff;
  z-index: 99;
}
#home h3 {
  font-family: Round;
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 23px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.92px;
  text-transform: capitalize;
  margin-bottom: 25px;
}
#home h1 {
  font-family: Round;
  font-size: 90px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 3.6px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
#home p {
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.64px;
  opacity: 0.7;
  margin-bottom: 40px;
}
#home .home__link {
  background-color: transparent;
  padding: 8px 32px;
  border-radius: 100px;
  border: 1px solid #FFF;
  display: block;
}
#home .home__link a {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 175%;
  letter-spacing: 0.64px;
}

.home__left {
  margin-bottom: 98px;
  max-width: 824.5px;
}

.home__right {
  display: inline-block;
}

.home__kebab {
  width: 100%;
  margin-bottom: 70px;
}

#dishnes {
  padding: 120px 0;
  background-color: #F8F8F8;
}

.dishnes__header {
  color: #BB2339;
  margin-bottom: 40px;
}
.dishnes__header h3 {
  font-family: Round;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 1.44px;
}

.dishnes__carousel {
  position: relative;
}

.owl-dot {
  display: none !important;
}

.dishnes__carousel {
  position: relative;
  z-index: 2;
}

.owl-next {
  position: absolute;
  text-align: center;
  right: 80px;
  top: -40px;
}

.owl-prev {
  position: absolute;
  text-align: center;
  right: 90px;
  top: -40px;
}

#regular__menu {
  padding: 120px 0;
}

.menu__text {
  color: #BB2339;
  margin-bottom: 40px;
}
.menu__text h3 {
  font-family: Round;
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 1.44px;
  text-transform: capitalize;
}

#testimony {
  padding: 100px 0 90px;
  background: #F4F4F4;
}

.testimony__text {
  color: #242424;
  text-align: center;
  margin-bottom: 60px;
}
.testimony__text h3 {
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Round;
  font-size: 23px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.92px;
  margin-bottom: 8px;
}
.testimony__text img {
  margin-bottom: 8px;
}
.testimony__text h4 {
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Round;
  font-size: 48px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 1.44px;
  text-transform: capitalize;
}

.testimony__card {
  text-align: center;
}

.test__card {
  padding: 30px 50px 30px 20px;
  color: #333;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid rgba(51, 51, 51, 0.1);
  margin-bottom: 20px;
}
.test__card h5 {
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 10px;
}
.test__card p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  opacity: 0.7;
}

#news {
  padding: 120px 0;
}

.news__text {
  padding: 20px 30px 30px 20px;
}
.news__text h3 {
  color: #242424;
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 23px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.92px;
  text-transform: capitalize;
}
.news__text h4 {
  color: #BB2339;
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 48px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 1.44px;
  text-transform: capitalize;
  margin-bottom: 60px;
}

.news__card {
  border-radius: 14px;
  border: 1px solid rgba(36, 36, 36, 0.1);
  background: #FFF;
  max-width: 680px;
}
.news__card img {
  width: 100%;
  margin-bottom: 20px;
}
.news__card h5 {
  color: #242424;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Round;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-transform: capitalize;
}
.news__card p {
  color: #AAA;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

@media (min-width: 1080px) {
  #home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 98px;
  }
  #home .home__left {
    width: 50%;
  }
  #home .home__right {
    width: 50%;
  }
  #home .header__scroll {
    position: absolute;
    bottom: 4%;
    right: 6%;
  }
}
@media (min-width: 960px) {
  .testimony__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: start;
  }
}
@media (min-width: 810px) {
  .news__cards {
    display: grid !important;
    grid-template-columns: repeat(2, 2fr) !important;
    gap: 15px;
  }
}
@media (min-width: 1200px) {
  .news__cards {
    display: grid !important;
    grid-template-columns: repeat(3, 2fr) !important;
    gap: 35px;
  }
}