@import url(/fonts/static/OpenSans-Bold.ttf);
@import url(/fonts/static/OpenSans-ExtraBold.ttf);
@import url(/fonts/static/OpenSans-Italic.ttf);
@import url(/fonts/static/OpenSans-Light.ttf);
@import url(/fonts/static/OpenSans-Medium.ttf);
@import url(/fonts/static/OpenSans-Regular.ttf);
@import url(/fonts/static/OpenSans-SemiBold.ttf);
* {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}