@use "../global";
@use "../layout/nav";
@use "../utils/variables" as var;
@use "../utils/mixin" as mix;

header {
    background-color: var.$qizil;
   
}


#home {
    padding: 110px 0 54px 0;
    color: #fff;
    z-index: 99;
    h3 {
        font-family: Round;
        font-variant-numeric: lining-nums tabular-nums;
        font-size: 23px;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: 0.92px;
        text-transform: capitalize;
        margin-bottom: 25px;
        
    }
    h1 {
        font-family: Round;
        font-size: 90px;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: 3.6px;
        text-transform: capitalize;
        margin-bottom: 20px;
    }
    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 175%;
        letter-spacing: 0.64px;
        opacity: 0.7;
        margin-bottom: 40px;
    }
    .home__link {
        background-color:  transparent;
        padding: 8px 32px;
        border-radius: 100px;
        border: 1px solid #FFF;
        display: block;
        a {
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            line-height: 175%;
            letter-spacing: 0.64px;
        }
    }
}

.home__left {
    margin-bottom: 98px;
    max-width: 824.5px;
}

.home__right {
    display: inline-block;
}

.home__kebab {
    width: 100%;
    margin-bottom: 70px;
}

#dishnes {
    padding: 120px 0;
    background-color: #F8F8F8;
}

.dishnes__header {
    color: var.$qizil;
    margin-bottom: 40px;
    h3 {
        font-family:  Round ;
        font-size: 48px;
        font-weight: 500;
        letter-spacing: 1.44px;
    }
}

.dishnes__carousel {
    position: relative;
}

.owl-dot {
    display: none !important;
}

.dishnes__carousel {
    position: relative;
    z-index: 2;
}

 .owl-next {
    @include mix.owl(80px,-40px);
}

.owl-prev {
    @include mix.owl(90px, -40px);
}




#regular__menu {
    padding: 120px 0;
}

.menu__text {
    color: var.$qizil;
    margin-bottom: 40px;
    h3 {
        font-family: Round;
        font-variant-numeric: lining-nums tabular-nums;
        font-size: 48px;
        font-weight: 500;
        letter-spacing: 1.44px;
        text-transform: capitalize;
    }
    
}

#testimony {
    padding: 100px 0 90px ;
    background: #F4F4F4;
}

.testimony__text {
    color: var.$qora;
    text-align: center;
    margin-bottom: 60px;
    h3 {
        font-variant-numeric: lining-nums tabular-nums;
        font-family: Round;
        font-size: 23px;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: 0.92px;
        margin-bottom: 8px;
    }
    img {
        margin-bottom: 8px;
    }
    h4 {
        font-variant-numeric: lining-nums tabular-nums;
        font-family:  Round ;
        font-size: 48px;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: 1.44px;
        text-transform: capitalize;
    }
}

.testimony__card {
    text-align: center;
}

.test__card {
    padding: 30px 50px 30px 20px;
    color: #333;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid rgba(51, 51, 51, 0.10);
    margin-bottom: 20px;
    h5 {
        font-size: 24px;
        font-weight: 600;
        line-height: 26px;
        margin-bottom: 10px;
    }
    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        opacity: 0.7;
    }
}

#news {
    padding: 120px 0;
}

.news__text {
    padding: 20px 30px 30px 20px;

    h3 {
        color: var.$qora;
        font-variant-numeric: lining-nums tabular-nums;
        font-size: 23px;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: 0.92px;
        text-transform: capitalize;
    }
    h4 {
        color: var.$qizil ;
        font-variant-numeric: lining-nums tabular-nums;
        font-size: 48px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 1.44px;
        text-transform: capitalize;
        margin-bottom: 60px;
    }
}

.news__card {
    border-radius: 14px;
    border: 1px solid rgba(36, 36, 36, 0.10);
    background: #FFF;
    max-width: 680px;
    padding: 20px 30px 30px 20px;
    margin-bottom: 60px;
    
    img {
        width: 100%;
        margin-bottom: 20px;
    }
    h5 {
        color: var.$qora;
        font-variant-numeric: lining-nums tabular-nums;
        font-family: Round;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        text-transform: capitalize;
    }
    p {
        color:  #AAA;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
}

.card__bottom {
    display: flex;
    justify-content: space-between;
    a {
        color: var.$qizil;
        transition: 0.5s;
    }
    a:hover {
        color: rgb(103, 11, 26)
    }
}

.more__new {
    text-align: center;
}

.more__new button{
    font-family: Round;
    line-height: 175%;
    letter-spacing: 0.64px;
    padding: 8px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: #fff;
    border: 1px solid var(--qizil, #BB2339);
    transition: 0.5s;
    a {
        color: var.$qora;
        font-size: 16px;
        font-weight: 700;

    }
}

.more__new button:hover {
    a {
        color: #fff;
    }
    background-color: var.$qizil;
}

#modal {
    margin-bottom: 120px;
}

@media (min-width:1080px) {
    #home {
        display: flex;
        gap: 98px;
        .home__left {
            width: 50%;
        }
        .home__right{
            width: 50%;
         }
        .header__scroll {
            position: absolute;
            bottom: 4%;
            right: 6%;
        }
    }
}

@media (min-width:960px) {
    .testimony__card {
        display: flex;
        justify-content: space-around;
        text-align: start;
    }
}

@media (min-width:810px) {
    .news__cards {
        display: grid !important;
        grid-template-columns: repeat(2, 2fr) !important;
        gap: 15px;
    }
}

@media (min-width:1200px) {
    .news__cards {
        display: grid !important;
        grid-template-columns: repeat(3, 2fr) !important;
        gap: 35px;
    }
}